<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Avans Barometer</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Content/js")
        
    </head>
    <body>
        <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
            @RenderBody()

        </div>
        
        
        @RenderSection("scripts", required: false)
    </body>
</html>
