<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Avans Barometer</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/js")
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Avans</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Users", "List", "Management")</li>
                </ul>

                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-form navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default">Log off</a>
                }
                @if (Request.IsAuthenticated)
                {
                    <p class="navbar-text navbar-right">
                        Ingelogd als @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "navbar-link", title = "Manage" })
                    </p>
                }
                else
                {
                    <p class="navbar-text navbar-right">
                        Niet ingelogd. @Html.ActionLink("Log in", "Login", "Account", null, null)
                    </p>
                }
            </div>
            <!--/.nav-collapse -->
        </div>

        <!-- Main component for a primary marketing message or call to action -->

        @if (Request.IsAuthenticated)
        {@RenderBody();
        }
        else
        {
            <div style="visibility: hidden; width: 0; height: 0;">
                @RenderBody()
            </div>
            <h1>U bent nog niet ingelogd. Klik @Html.ActionLink("Hier", "Login", "Account", null, null) om in  te loggen.</h1>    
            
        }


    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
