@{
    ViewBag.Title = "Dashboard";
}

@model Barometer_ASP_NET.Wrappers.ModeratorDashboardWrapper

<div class="row">
    <div class="col-lg-6">
        <h2>Mijn groepen</h2>
        <p>Klik op een student om het historisch overzicht en voortgangen te bekijken</p>
        <hr />
        <<select class="form-control">
            <option>Selecteer project</option>
            @foreach (BarometerDataAccesLayer.Project project in Model.OwnProjects)
            {
                <option value="@project.id">@project.name</option>
            }
        </select>

        <br />
        <br />

        <div class="panel-group" id="accordion">
            @{int counter = 0;}
            @foreach (KeyValuePair<string, IEnumerable<BarometerDataAccesLayer.User>> group in Model.UsersInGroups)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            @Html.ActionLink(group.Key, null, null, new { @data_toggle = "collapse", @data_parent = "#accordion", @Href = "#group_" + counter })
                        </h4>
                    </div>
                    <div id="group_@counter" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered table-members table-centered">
                                <tbody>
                                    @foreach (BarometerDataAccesLayer.User user in group.Value)
                                    {
                                        <tr>
                                            <td>
                                                <img src="../../images/pf.jpg" alt="..." class="img-circle">
                                            </td>
                                            <td>@user.firstname @user.lastname</td>
                                            <td>@Html.ActionLink(" ", "Student", "Admin", new { user.id }, new { @class = "glyphicon glyphicon-eye-open", @Title = "Bekijk historich overzicht" })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                                    counter++;
            }


        </div>



    </div>
    <div class="col-lg-6">
        <h2>Zoek een student</h2>
        <p>Typ het studentnummer van een student in om het overzicht te bekijken</p>
        <hr />
        @using (Html.BeginForm("StudentForm", "Moderator", FormMethod.Post))
        {
            <div class="form-group">
                <label class="control-label">Zoek student</label>
                <input type="text" class="form-control" name="student" />
            </div>
        }


    </div>
</div>
