@using BarometerDataAccesLayer
@using Barometer_ASP_NET.Wrappers

@model BaroReportWrapper

<script type="text/javascript">
    $(function () {
        var prop = {
            reporter_id : @Model.ReporterId,
            subject_id : @Model.Members.First().id,
            project_report_date_id : @Model.ReportDate.id
        };


        $('.baro-students li').click(function (e) {
            if($(this).data('done') == 1)
                return;

            $('.baro-students li').each(function () {
                $(this).removeClass('active');
            });

            prop.subject_id = $(this).data('subject-id');

            setForm();
            $(this).addClass('active');
        });

        var checkDone = function() {
            var total = $('.baro-students li').length;
            var done  = 1;
            $('.baro-students li').each(function() {
                if($(this).data('done') == 1) {
                    done++;
                }
            });
            if(total == done) {
                window.location.replace("/User/Dashboard?b=done");
            }
        };

        var setForm = function () {
            $('#barometer-control').empty().html('<div id="loading-overlay"><img src="/Content/images/load.GIF" class="loading_circle" alt="Loading..." /></div>');
            $.get('/Baro/Create', prop, function (data, status, xhr) {
                $('#barometer-control').html(data).show();
            }, 'HTML');
        };

        var sendForm = function () {
            bootbox.confirm("Weet je zeker dat je dit wilt versturen? De beoordelingen kunnen niet meer worden aangepast", function(result) {
                if(result == true) {
                    var settings = {
                        url : '/Baro/Create',
                        method : 'POST',
                        data : $('#baro-create-form').serialize(),
                        dataType : 'JSON'
                    };

                    $('#barometer-control').empty().html('<div id="loading-overlay"><img src="/Content/images/load.GIF" class="loading_circle" alt="Loading..." /></div>');
                    $.ajax(settings).done(function(data) {
                        checkDone();

                        $('#barometer-control').empty().hide();

                        var current = $('.baro-students li.active');
                        var next    = current.next('li');

                        current.data('done', 1).addClass('done-report').removeClass('active').append('<span class="glyphicon glyphicon-thumbs-up"></span>');

                        prop.subject_id = next.data('subject-id');
                        next.addClass('active');


                        setForm();
                    });
                }
            })
        };


        $('#barometer-control').on('click', '#btn-send-form', sendForm);

        // Set form for first user
        setForm();
    });
</script>
<div class="row">
    <div class="col-lg-12">
        <h2>Barometer invullen <small> Beoordelings moment : @Model.ReportDate.week_label</small></h2>
        <p>Klik op een groepslid om deze te boordelen. Let op dat het versturen definitief is! Nadere aanpassingen zijn niet meer mogelijk.</p>
        <hr />
    </div>
</div>
<div class="row barometer">
    <div class="col-lg-4" style="padding-right: 0px;">
        <ul class="nav nav-pills nav-stacked baro-students" style="">
            @{var flagFirst = true;}
            @foreach (User u in Model.Members)
            {
                if (u.id == Model.ReporterId)
                {
                    break;
                }
             <li class="@(flagFirst ? "active" : "")" data-subject-id="@u.id" data-done="0">
                <img src="@(u.profile_image != null ? u.profile_image : "/Content/images/pf.jpg")" class="img-circle pull-left">
                <p>@u.firstname @u.lastname <!--<span class="glyphicon glyphicon-ok"></span> --></p>
            </li>
                
                flagFirst = false;
            }
        </ul>
    </div>
    <div class="col-lg-8" style="padding-left: 0px;">
        <div id="barometer-control" class="well">
            
        </div>
   </div>
</div>
