@{
    ViewBag.Title = "Dashboard";
}
@model Barometer_ASP_NET.Wrappers.UserDashboardWrapper


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    var options = {
        title: 'Cijfers laatste 5 projecten',
        min: 1,
        max: 10
    };
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
                   ['Projecten', 'Eindcijfer', 'Mijn cijfer']
            @if (Model.Grades.Count > 0)
            {
                foreach (KeyValuePair<string, int[]> result in Model.Grades)
                {
                    <text>, ['@result.Key',@result.Value[0],@result.Value[1]]</text>
                }
            }
            else
            {
                <text>, ['Geen beoordelingen beschikbaar', 1, 1]</text>
            }
        ]);



        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        $(window).smartresize(function () {
            chart.draw(data, options);
        });
    }
</script>
<div class="row">

    <div class="col-lg-4">

        <h2>Huidig project</h2>
        <hr />

        <div class="well well-lg">
            @if (Model.HasProject)
            {
                <h4><i>Info</i></h4>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Naam</td>
                            <td>@Model.CurrentProject.name</td>
                        </tr>
                        <tr>
                            <td>Omschrijving</td>
                            <td>@Model.CurrentProject.description</td>
                        </tr>
                        <tr>
                            <td>Docenten</td>
                            <td>
                                @foreach (BarometerDataAccesLayer.User owner in Model.CurrentProjectOwners)
                                {

                                    <a href="mailto:@owner.email" title="Mail docent">@owner.firstname @owner.lastname</a><br />
                                }
                            </td>
                        </tr>
                        <tr>
                            @{int weeks = 0;}
                            <td>Duur</td>
                            <td>@{weeks = (((DateTime)Model.CurrentProject.end_date).Subtract((DateTime)Model.CurrentProject.start_date).Days) / 7;}@weeks weken</td>
                        </tr>
                    </tbody>
                </table>


                <h4>
                    <i>Beoordelingen</i>
                    @{
                        var sDate = (DateTime)Model.NextReportDate.start_date;
                        var eDate = (DateTime)Model.NextReportDate.end_date;   
                    }
                    @if (DateTime.Now >= sDate && DateTime.Now <= eDate)
                    {
                        <span class="label label-danger"><span class="glyphicon glyphicon-bell"></span> Het is beoordelingsweek!</span>
                    }
                </h4>
                
                
                <table class="table table-bordered table-centered">
                    <tr>
                        <td>Datum</td>
                        <td>Volgende beoordelings ronde</td>
                    </tr>
                    <tr>
                        <td>
                            <h4>@DateTime.Now.ToString("dd/MM/yy")</h4>
                        </td>
                        <td>
                            <h4>
                                
                                @sDate.ToString("dd/MM/yy") <text>-</text> @eDate.ToString("dd/MM/yy")

                            </h4>
                        </td>
                    </tr>
                </table>
                if (DateTime.Now >= sDate && DateTime.Now <= eDate && !ViewBag.Filled)
                {
                    <a class="btn btn-default form-control" href="@Url.Action("Barometer", new { @report_id = @Model.NextReportDate.id })" style="margin-top: 10px;">Barometer invullen</a>
                }

                <h4><i>Groepsleden</i></h4>
                <table class="table table-bordered table-members table-centered">
                    <tbody>
                        <tr>
                            <td colspan="3"><b>Tutor</b></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/Content/images/angelique.jpg" alt="..." class="img-circle">
                            </td>
                            <td colspan="2">A. van de Boogaard</td>
                        </tr>
                        <tr>
                            <td colspan="3"><b>Leden</b></td>
                        </tr>
                        @{int counter = 1;}
                        @foreach (BarometerDataAccesLayer.ProjectMember pm in Model.ProjectMembers)
                        {
                            if (pm.User.student_number == @Model.StudentNumber)
                            {
                                // We willen onszelf niet laten zien.
                                break;
                            }
                            <tr>
                                <td>
                                    <img src="@(pm.User.profile_image != null ? pm.User.profile_image : "/Content/images/pf.jpg")" alt="..." class="img-circle">
                                </td>
                                <td>@pm.User.firstname @pm.User.lastname</td>
                                <td>
                                    <a title="Beoordeling van @pm.User.firstname @pm.User.lastname" class="displayBaroWidget" 
                                data-modal-id="modal-baro-widget" 
                                data-reporter-id="@pm.User.id" 
                                data-subject-id="@Model.StudentNumber" 
                                data-project-id="@Model.CurrentProject.id"><span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>
                            </tr>
                            { counter++; }
                        }

                    </tbody>
                </table>
            }
            else
            {
                <p>Je zit momenteel niet in een project.</p>
            }
        </div>
    </div>

    <div class="col-lg-7 col-lg-offset-1">
        <h2>Persoonlijke voortgang</h2>
        <hr />
        <div id="chart_div" style="width: 100%; position: relative;"></div>
    </div>


</div>

<div class="modal fade" id="modal-baro-widget" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="model-baroLabel">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>

</div>

