@{
    ViewBag.Title = "Dashboard";
}
@model Barometer_ASP_NET.Wrappers.UserDashboardWrapper


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Projecten', 'Eindcijfer', 'Mijn cijfer'],
          ['Proj Reisbureau', 7, 9],
          ['Proj Databases', 10, 8],
          ['Proj Wordfeud', 8, 6],
          ['Proj Barometer', 7, 10]
        ]);

        var options = {
            title: 'Cijfers laatste 5 projecten',
            min: 1,
            max: 10
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        $(window).smartresize(function () {
            chart.draw(data, options);
        });
    }
</script>
<div class="row">

    <div class="col-lg-4">
        <h2>Huidig project</h2>
        <hr />

        <div class="well well-lg">
            <h4><i>Info</i></h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Naam</td>
                        <td>Project Barometer</td>
                    </tr>
                    <tr>
                        <td>Omschrijving</td>
                        <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</td>
                    </tr>
                    <tr>
                        <td>Docenten</td>
                        <td>
                            <a href="mailto:#" title="Mail docent">Erik van Apeldoor</a><br />
                            <a href="mailto:#" title="Mail docent">Mareike NogWat</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Duur</td>
                        <td>10 weken</td>
                    </tr>
                </tbody>
            </table>


            <h4><i>Beoordelingsmomenten</i>
                <!-- 
		      		<span class="label label-danger"><span class="glyphicon glyphicon-bell"></span> tijd voor beoordeling</span>
		      		 -->
            </h4>
            <table class="table-condensed table-bordered table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th colspan="7" style="text-align: center;">@DateTime.Today.ToString("MMMM") @DateTime.Today.Year
                        </th>
                    </tr>
                    <tr>
                        <th>@DateTimeOffset.MaxValue.Date.AddDays(-12).ToString("ddd").ToUpper()</th>
                        <th>@DateTimeOffset.MaxValue.Date.AddDays(-11).ToString("ddd").ToUpper()</th>
                        <th>@DateTimeOffset.MaxValue.Date.AddDays(-10).ToString("ddd").ToUpper()</th>
                        <th>@DateTimeOffset.MaxValue.Date.AddDays(-9).ToString("ddd").ToUpper()</th>
                        <th>@DateTimeOffset.MaxValue.Date.AddDays(-8).ToString("ddd").ToUpper()</th>
                        <th>@DateTimeOffset.MaxValue.Date.AddDays(-7).ToString("ddd").ToUpper()</th>
                        <th>@DateTimeOffset.MaxValue.Date.AddDays(-6).ToString("ddd").ToUpper()</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td class="currentday">9</td>
                        <td>10</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                    </tr>
                    <tr class="baroweek">
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td class="muted">1</td>
                        <td class="muted">2</td>
                        <td class="muted">3</td>
                    </tr>
                </tbody>
            </table>

            <!--<table class="table table-bordered table-centered">
		      			<tr>
		      				<td>Huidige project week</td>
		      				<td>Volgende beoordelings ronde</td>
		      			</tr>
		      			<tr>
		      				<td><h1>4</h1></td>
		      				<td><h1>6</h1></td>
		      			</tr>
		      		</table>
		      		<a class="btn btn-danger form-control" href="barometer.html" style="margin-top: 10px;">Barometer invullen</a>-->


            <h4><i>Groepsleden</i></h4>
            <table class="table table-bordered table-members table-centered">
                <tbody>
                    <tr>
                        <td colspan="3"><b>Tutor</b></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Content/images/pf.jpg" alt="..." class="img-circle"></td>
                        <td colspan="2">A. van de Boogaard</td>
                    </tr>
                    <tr>
                        <td colspan="3"><b>Leden</b></td>
                    </tr>
                    @{int counter = 1;}
                    @foreach (BarometerDataAccesLayer.ProjectMember pm in Model.ProjectMembers)
                    {
                        <tr>
                            <td>
                                <img src="~/Content/images/pf.jpg" alt="..." class="img-circle"></td>
                            <td>@pm.User.firstname @pm.User.lastname</td>
                            <td>
                                @Html.ActionLink(" ", null, null, new { @data_toggle = "modal", @data_target = "#modal-baro", @Href = "#tab"+@counter, @Title = "Bekijk beoordeling van "+@pm.User.firstname+" "+@pm.User.lastname, @class = "glyphicon glyphicon-eye-open" })
                            </td>
                        </tr>
                        {counter++;}
                    }
                    @*                    <tr>
                        <td>
                            <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                        <td>Rik Coenen</td>
                        <td>
                            @Html.ActionLink(" ", null, null, new { @data_toggle = "modal", @data_target = "#modal-baro", @Href = "#tab1", @Title = "Bekijk beoordeling van Rik Coenen", @class = "glyphicon glyphicon-eye-open" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                        <td>Ronald van Duren</td>
                        <td>
                            @Html.ActionLink(" ", null, null, new { @data_toggle = "modal", @data_target = "#modal-baro", @Href = "#tab1", @Title = "Bekijk beoordeling van Ronald van Duren", @class = "glyphicon glyphicon-eye-open" })
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                        <td>Joost Dolman</td>
                        <td>
                            @Html.ActionLink(" ", null, null, new { @data_toggle = "modal", @data_target = "#modal-baro", @Href = "#tab1", @Title = "Bekijk beoordeling van Joost Dolman", @class = "glyphicon glyphicon-eye-open" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                        <td>John Huijbergt</td>
                        <td>
                            @Html.ActionLink(" ", null, null, new { @data_toggle = "modal", @data_target = "#modal-baro", @Href = "#tab1", @Title = "Bekijk beoordeling van John Huijbergt", @class = "glyphicon glyphicon-eye-open" })

                        </td>
                    </tr>*@
                </tbody>
            </table>
        </div>

    </div>


    <div class="col-lg-7 col-lg-offset-1">
        <h2>Persoonlijke voortgang</h2>
        <hr />
        <div id="chart_div" style="width: 100%; position: relative;"></div>
    </div>


</div>

<div class="modal fade" id="modal-baro" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="model-baroLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Beoordeling van Rik Coenen</h4>
                <select class="form-control">
                    <option>Week 3</option>
                    <option>Week 6</option>
                    <option>Week 9</option>
                </select>
            </div>
            <div class="modal-body">
                <div class="barometer-control">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tab1" data-toggle="tab">Inhoudelijke kennis</a></li>
                        <li><a href="#tab2" data-toggle="tab">Werken als professional</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <table class="table">
                                <tr>
                                    <td colspan="2">
                                        <h4><i>Kennis van/over en vaardigheden</i></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bussines definition study</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>System use cases</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>Prototype(s)</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Requirement analyse</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Functioneel ontwerp</td>
                                    <td>8</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <table class="table">
                                <tr>
                                    <td colspan="2">
                                        <h4><i>Inzet motivatie</i></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Meedoen</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Afspraken nakomen</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Op tijd zijn</td>
                                    <td>8</td>
                                </tr>


                                <tr>
                                    <td colspan="2">
                                        <h4><i>Inzicht eigen functioneren</i></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kritisch </td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Eigen sterktes en zwaktes kennen</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Besluiten nemen</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>Omgaan met stress</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>Assertief zijn</td>
                                    <td>7</td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <h4><i>Samenwerken</i></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Anderen helpen </td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>Feedback geven </td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Feedback ontvangen </td>
                                    <td>6</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sluit</button>
            </div>
        </div>
    </div>

</div>

