@model Barometer_ASP_NET.Wrappers.UserProjectWrapper
@{
    ViewBag.Title = "Project";


}


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
@{ var count = 1; }

        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            @foreach (KeyValuePair<BarometerDataAccesLayer.BaroAspect, Dictionary<BarometerDataAccesLayer.ProjectReportDate, Dictionary<BarometerDataAccesLayer.Report, int>>> chart in Model.Grades)
{
       
       <text>
            
            var d = []
            var data = google.visualization.arrayToDataTable([


            ['Onderdeel', 'BDS', 'System use cases', 'Prototypes', 'Requirement Analyse', 'Functioneel Ontwerp'],
            ['Week 3', 6, 6, 4, 7, 4],
        	['Week 6', 6, 7, 7, 6, 7],
        	['Week 9', 8, 9, 10, 10, 9]
            ]);

            var options = {
                title: 'Voortgang Inhoudelijke kennis',
                min: 1,
                max: 10,
                vAxis: {
                    gridlines: {
                        count: 10
                    }
                },
                seriesType: "bars",
                series: { 5: { type: "line" } }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div_</text>@count<text>'));
            chart.draw(data, options);

            </text>
    count++;
}
        }
</script>
   
<div class="row">
    <div class="col-lg-12">
        <h2>@Model.CurrentProjectName <small>(@Model.CurrentProjectDate)</small></h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-lg-4">

        <h4><i>Info</i></h4>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Omschrijving</td>
                    <td>@Model.CurrentProjectSummary</td>
                </tr>
                <tr>
                    <td>Docenten</td>
                    <td>            
                        @foreach (var u in Model.ProjectOwners)
                        {
                              <a href="mailto:@u.email" title="Mail docent">@u.firstname @u.lastname</a><br />
                        } 
                    </td>
                </tr>
                <tr>
                    <td>Eindcijfer</td>
                    @if ((double)Model.CurrentProjectGroupGrade > 5.5)
                    {<td><span class="label label-success">@Model.CurrentProjectGroupGrade</span></td>}
                    else if ((double)Model.CurrentProjectGroupGrade < 5.5)
                    {<td><span class="label label-danger">@Model.CurrentProjectGroupGrade</span></td>}
                </tr>
                <tr>
                    <td>Eindcijfer individueel</td>
                     @if ((double)Model.CurrentProjectIndividualGrade > 5.5)
                     {<td><span class="label label-success">@Model.CurrentProjectIndividualGrade</span></td>}
                     else if ((double)Model.CurrentProjectIndividualGrade < 5.5)
                     {<td><span class="label label-danger">@Model.CurrentProjectIndividualGrade</span></td>}
                </tr>
            </tbody>
        </table>


        <h4><i>Groepsleden</i></h4>
        <table class="table table-bordered table-members table-centered">
            <tbody>
                <tr>
                    <td colspan="3"><b>Tutor</b></td>
                </tr>
                @foreach (var u in Model.Tutors)
                {
                    <tr>
                      <td>
                        <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                      <td colspan="2">@u.firstname @u.lastname</td>
                    </tr>
                }
                <tr>
                    <td colspan="3"><b>Leden</b></td>
                </tr>
                @foreach (var u in Model.ProjectMembers)
                {
                    <tr>
                      <td>
                        <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                      <td>@u.firstname @u.lastname</td>
                      <td>
                            <a title="Beoordeling van @u.firstname @u.lastname" class="displayBaroWidget" 
                                data-modal-id="modal-baro-widget" 
                                data-reporter-id="@u.id" 
                                data-subject-id="@Model.StudentNumber" 
                                data-project-id="@Model.CurrentProjectId">
                              <span class="glyphicon glyphicon-eye-open"></span>
                          </a>
                      </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>


    <div class="col-lg-8">
        <h4><i>Voortgang</i></h4>
        <div id ="charts">

        <div id="chart_div_1" style="position: relative; width: 100%;"></div>
        <div id="chart_div_2" style="position: relative; width: 100%"></div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal-baro-widget" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="model-baroLabel">
    <div class="modal-dialog">
        <div class="modal-content">
           
        </div>
    </div>
</div>
