@model BarometerDataAccesLayer.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.student_number)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.student_number, new {@class =  "form-control" })
            @Html.ValidationMessageFor(model => model.student_number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.firstname)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.firstname, new {@class =  "form-control" })
            @Html.ValidationMessageFor(model => model.firstname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastname)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.lastname, new {@class =  "form-control" })
            @Html.ValidationMessageFor(model => model.lastname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.profile_image)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.profile_image, new {@class =  "form-control" })
            @Html.ValidationMessageFor(model => model.profile_image)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.email, new {@class =  "form-control" })
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rol_name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.rol_name, new {@class =  "form-control" })
            @Html.ValidationMessageFor(model => model.rol_name)
        </div>

        <p>
            <input type="submit" value="Opslaan" class="btn btn-default pull-right" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Terug naar overzicht", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
