@{
    ViewBag.Title = "Dashboard";
}
<div class="row">
    <div class="col-lg-6">
        <h2>Groepen</h2>
        <p>Klik op een student om deze te bekijken</p>
        <hr />
        <select class="form-control">
            <option>Selecteer project</option>
            <option>Project Barometer</option>
            <option>Project Wordfeud</option>
        </select>
        <br />
        <br />
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        @Html.ActionLink("42IN06SOa", null, null, new { @data_toggle = "collapse", @data_parent = "#accordion", @Href = "#group1" })
                    </h4>
                </div>
                <div id="group1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table table-bordered table-members table-centered">
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                                    <td>Rik Coenen</td>
                                    <td>@Html.ActionLink(" ", "Student", "Admin", new { @class = "glyphicon glyphicon-eye-open", @Title = "Bekijk historich overzicht" })</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                                    <td>Ronald Duren</td>
                                    <td>@Html.ActionLink(" ", "Student", "Admin", new { @class = "glyphicon glyphicon-eye-open", @Title = "Bekijk historich overzicht" })</td>

                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                                    <td>Joost Dolman</td>
                                    <td>@Html.ActionLink(" ", "Student", "Admin", new { @class = "glyphicon glyphicon-eye-open", @Title = "Bekijk historich overzicht" })</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                                    <td>John Huijbergt</td>
                                    <td>@Html.ActionLink(" ", "Student", "Admin", new { @class = "glyphicon glyphicon-eye-open", @Title = "Bekijk historich overzicht" })</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        @Html.ActionLink("42IN06SOb", null, null, new { @data_toggle = "collapse", @data_parent = "#accordion", @Href = "#group2" })
                    </h4>
                </div>
                <div id="group2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-bordered table-members table-centered">
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                                    <td>Rik Coenen</td>
                                    <td>@Html.ActionLink(" ", "Student", "Admin", new { @class = "glyphicon glyphicon-eye-open", @Title = "Bekijk historich overzicht" })</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                                    <td>Ronald Duren</td>
                                    <td>@Html.ActionLink(" ", "Student", "Admin", new { @class = "glyphicon glyphicon-eye-open", @Title = "Bekijk historich overzicht" })</td>

                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                                    <td>Joost Dolman</td>
                                    <td>@Html.ActionLink(" ", "Student", "Admin", new { @class = "glyphicon glyphicon-eye-open", @Title = "Bekijk historich overzicht" })</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                                    <td>John Huijbergt</td>
                                    <td>@Html.ActionLink(" ", "Student", "Admin", new { @class = "glyphicon glyphicon-eye-open", @Title = "Bekijk historich overzicht" })</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        @Html.ActionLink("42IN06SOc", null, null, new { @data_toggle = "collapse", @data_parent = "#accordion", @Href = "#group3" })

                    </h4>
                </div>
                <div id="group3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-bordered table-members table-centered">
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                                    <td>Rik Coenen</td>
                                    <td>@Html.ActionLink(" ", "Student", "Admin", new { @class = "glyphicon glyphicon-eye-open", @Title = "Bekijk historich overzicht" })</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                                    <td>Joost Dolman</td>
                                    <td>@Html.ActionLink(" ", "Student", "Admin", new { @class = "glyphicon glyphicon-eye-open", @Title = "Bekijk historich overzicht" })</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../images/pf.jpg" alt="..." class="img-circle"></td>
                                    <td>John Huijbergt</td>
                                    <td>@Html.ActionLink(" ", "Student", "Admin", new { @class = "glyphicon glyphicon-eye-open", @Title = "Bekijk historich overzicht" })</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-6">
        <h2>Zoek een student</h2>
        <p>Typ de naam van een student in om het overzicht te bekijken</p>
        <hr />
        <form class="form-vertical">
            <div class="form-group">
                <label class="control-label">Zoek student</label>
                <input type="text" class="form-control" name="student" />

            </div>
        </form>


    </div>
</div>
