@model Barometer_ASP_NET.Wrappers.AdminProjectGroupViewWrapper

@{
    ViewBag.Title = "Projectgroep";
}
<div class="row">
    <div class="col-lg-12">
        <h2>Groep 42INSO06b</h2>
        @Html.ActionLink("Terug naar het groepen overzicht", "ProjectGroups", "Admin", new { @class = "glyphicon glyphicon-arrow-left" })
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h3>Student toevoegen</h3>
        <hr />

        @using (Html.BeginForm("AddStudent", "Admin", FormMethod.Post, new { @class = "form-vertical", @role = "form" }))
        {
            <div class="form-group">
                <label>Studentnummer</label>
                <input type="text" class="form-control" name="student" placeholder="Studentnummer" />
            </div>
            @Html.Hidden("projectID", Model.projectID)
            @Html.Hidden("groupID",Model.projectGroup)
            <div class="form-group">
                <button type="submit" class="btn btn-default">Toevoegen aan groep</button>
            </div>
        }

    </div>
    <div class="col-lg-6">
        <h3>Student overzicht</h3>
        <hr />
        @using (Html.BeginForm("ListStudents", "Group", FormMethod.Post, new { @class = "form-vertical", @role = "form" }))
        {
            <div class="form-group">
                <label class="control-label">Tutor</label>
                <select class="form-control">
                    <option>Angeliqeu</option>
                    <option>Angeliqeu</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Studenten</label>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Naam</td>
                            <td>Groep</td>
                            <td>Verwijder</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
            List<SelectListItem> selectItems = new List<SelectListItem>();
            foreach (BarometerDataAccesLayer.ProjectGroup group in Model.ProjectGroups)
            {
                selectItems.Add(new SelectListItem { Text = group.group_code.ToString(), Value = group.id.ToString() });
            }
                        }
                        @foreach (BarometerDataAccesLayer.User user in Model.GroupMemberUserList)
                        {
                            <tr>
                                <td>@user.firstname  @user.lastname</td>
                                <td>
                                    @Html.DropDownList("group", selectItems)
                                </td>
                                <td>@Html.ActionLink(" ", "RemoveStudent", "Group", new { @class = "glyphicon glyphicon-remove", @Href = "#" })</td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        }
    </div>
</div>
