@model BarometerDataAccesLayer.User
@{
    ViewBag.Title = "Student";
}
<div class="row">
    <div class="col-lg-12">
        <h2>@Model.firstname @Model.lastname <small>#@Model.student_number</small></h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-lg-4">

        <h4><i>Gegevens</i></h4>
        <form>
            <div class="form-group">
                <label>Voornaam</label>
                @Html.TextBox("voornaam", @Model.firstname, new { @class = "form-control", @placeholder = "Naam" })
            </div>
            <div class="form-group">
                <label>Achternaam</label>
                @Html.TextBox("achternaam", @Model.lastname, new { @class = "form-control", @placeholder = "Naam" })
            </div>
            <div class="form-group">
                <label>Studentennummer</label>
                @Html.TextBox("studentennummer", @Model.student_number, new { @class = "form-control", @placeholder = "Studentennummer" })
            </div>
            <div class="form-group">
                <label>Huidige project groep</label>
                <select class="form-control">
                    <option>Niks te selecteren</option>
                </select>
            </div>

            <hr />

            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>

        </form>

    </div>

</div>
