@using BarometerDataAccesLayer;
@model Barometer_ASP_NET.Wrappers.BaroTreeViewWrapper
@{
    Layout = "";
}
<ul>
        @foreach (BaroAspect head in Model.HeadAspect)
        {
            <li>
                <span><i class="glyphicon glyphicon-chevron-right"></i> @head.name</span><span class="glyphicon glyphicon-remove"><a class="tree-note-delete" data-nodeid="@head.id"></a></span>
                <ul>
                @foreach (BaroAspect parent in head.BaroAspects)
                {
                    <li>
                        <span><i class="glyphicon glyphicon-chevron-right"></i> @parent.name</span><span class="glyphicon glyphicon-remove"><a class="tree-note-delete" data-nodeid="@parent.id"></a></span>
                        <ul>
                        @foreach (BaroAspect child in parent.BaroAspects)
                        {
                            <li>
	                            <span><i class="glyphicon glyphicon-leaf"></i> @child.name</span><span class="glyphicon glyphicon-remove"><a class="tree-note-delete" data-nodeid="@child.id"></a></span>
                            </li>
                        }
                        </ul>
                    </li>

                }
                </ul>
            </li>
        }
 </ul>