@model Barometer_ASP_NET.Wrappers.BaroWidgetWrapper
@{
    Layout = "";
}

<script type="text/javascript">
    $(function () {
        $('#ctrl-select-moment').change(function () {
            var $a = $(this);
            var params = {
                reporter_id : @Model.Reporter.id,
                subject_id  : @Model.Subject.id,
                project_id  : @Model.Project.id,
                project_report_date_id : $a.val()
            };

            var options = {
                url : "/Baro/Widget",
                data : params,
                type : "GET",
                dataType : "HTML"
            };

            $.ajax(options).done(function(data){
                $('#modal-report-container').html(data);
            });
        });
    });
</script>
<div class="modal-header">
    <h4>Beoordelingen van @Model.Reporter.firstname voor jou in @Model.Project.name</h4>
    <select class="form-control" id="ctrl-select-moment">
        <option value="0">Selecteer een beoordelings moment</option>
        @foreach(BarometerDataAccesLayer.ProjectReportDate item in Model.ReportDates) 
        {
        <option value="@item.id">@item.week_label</option>
        }
    </select>
</div>
<div class="modal-body" id="modal-report-container">
    
</div>

<div class="modal-footer">
    <input type="button" value="Sluit" class="btn btn-default" data-dismiss="modal" />
</div>